@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*SHARED STYLE*/

.bg-color{
  background-color: #f5f8ff;
  padding: 20px 20px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
}
.nav-item{
  color: #252432;
  margin-right: 20px;
}
.nav-links{
  display: flex;
  list-style: none;
  font-size: 20px;
}
#cart{
  margin-right: 10px;
}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10rem 15rem 5rem 15rem;
  background-color: #f5f8ff;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
  color: rgba(0, 0, 0, 1);
  width: 570px;
  height: 108px;
}
.banner-description{
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5) ;
  width: 570px;
  height: 108px;
  margin: 0 auto;
}
.heading-description{
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5) ;
  width: 888px;
  height: 108px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}
.heading-description-2{
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5) ;
  width: 888px;
  height: 108px;
  margin: 0 auto;
  justify-content: center;
  
}
.banner-title-heading{
  color: rgba(233, 90, 8, 1);
}
.our-plants{
  justify-items: center;
  background-color: #f5f8ff;
  margin: 0 auto;
  padding: 1px;
}
.heading-title{
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
  padding-left: 20px;
}
.product{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
.h4-heading{
  font-size: 22px;
  font-weight: 500;
  
}
.price{
  font-size: 22px;
  font-weight: 700;
  
}
.btn-primary{
  background-color: rgba(233, 90, 8, 1);
  color: white;
  padding: 18px 80px;
  font-size: 16px;
  font-weight: 300;
  border: none;
  margin-bottom: 30px;
}
.btn-secondary{
  background-color: rgba(233, 90, 8, 1);
  color: rgb(255, 255, 255);
  padding: 28px 68px;
  font-size: 16px;
  font-weight: 300;
  border: none;
}
.grid{
  align-items: center;
  justify-items: center;
}
.plants-lover{
  display: flex;
  justify-content: center;
  background-color: #f5f8ff;
  padding: 200px 15px 100px 0px;
}
.plants-lover-content{
  gap: 20;
}
.deals{
  justify-items: center;
  background-color: #f5f8ff;
  margin: 0 auto;
  padding: 1px 0px 100px 0px;
}
.deals-1{
  display: flex;
}
.boom-plant{
  width: 366px;
  height: 206px;
  background-image: url('../images/deal-bloom.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-content: center;
  text-align: center;
  opacity: 0.7;
  border-radius: 15px;
  margin: 0px 15px 15px 0px;
}
.ana-plant{
  width: 366px;
  height: 206px;
  background-image: url('../images/deal-ana.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-content: center;
  text-align: center;
  opacity: 0.7;
  border-radius: 15px;
  margin: 0px 15px 15px 0px;
}
.zabo-plant{
  width: 753px;
  height: 423.13px;
  background-image: url('../images/deal-zabo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-content: center;
  text-align: center;
  opacity: 0.7;
  border-radius: 15px;
  margin: 0px 15px 15px 0px;
  padding-bottom: 5px;
}
.deal-heading{
  font-size: 20px;
  font-weight: 700;
  color:#ffffff;
}
.deal-heading-button{
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: underline;
}
.deal-heading-2{
  font-size: 40px;
  font-weight: 700;
  color:#ffffff;
}
.deal-heading-button-2{
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: underline;
}
.newsletter{
  justify-items: center;
  background-color: #f5f8ff;
  width: 118rem;
  height: 533px;
  padding: 1px;
  background-image: url('../images/news-letter-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-content: center;
  text-align: center;
  opacity: 0.7;
}
.form{
  width: 644px;
  height: 50px;
  padding-left: 20px;
  font-size: 16px;
  display: flex;
}
.bottom{
  display: flex;
}
.footer-bg{
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5rem 8rem 5rem 8rem;
  background-color: #f5f8ff;
}
.footer-nav-links{
  list-style: none;
  font-size: 20px;
  padding: 0px 160px 32px 0px;
  color: rgba(107, 114, 128, 1);
}
.footer-img{
  margin: 0 auto;
  padding: 15px 20px 20px 20px;
  
}
#badge{
  width: 286px;
  height: 286px;
  margin: -100px -40px 400px -180px;
}

/*Responsive CSS*/

@media screen and (max-width: 576px) {
    body {
        font-size: 16px;
    }
    .navbar {
        flex-direction: column; 
        align-items: center; 
        padding: 15px;
    }
    .nav-links {
        flex-direction: row; 
        text-align: center; 
        margin-top: 15px; 
        padding: 0;
        gap: 10px;
    }
    .nav-item {
        margin: 10px 0; 
        font-size: 18px;
    }
    #cart {
        margin: 5px 0px;
    }
    .banner {
        flex-direction: column; 
        padding: 10px 20px;
        text-align: left;
    }

    .banner > div:nth-child(1) { 
        order: 1; 
        margin-top: 20px;
    }
    .banner > div:nth-child(2) { 
        order: 0;
    }

    .banner-title {
        font-size: 2.5rem;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .banner-description, .heading-description {
        font-size: 16px;
        width: 100%; 
        height: auto;
        padding: 0 10px; 
        margin: 0 auto 20px auto;
    }
    
    .our-plants {
        padding: 30px 10px;
    }
    
    .heading-title {
        font-size: 30px;
        padding-left: 0;
        text-align: left;
    }
    .product {
        grid-template-columns: repeat(2, 2fr);
        gap: 20px; 
        padding: 0 20px;
    }
    .grid {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
    .grid img {
        max-width: 100%;
        height: auto;
    }
    .btn-primary {
        width: calc(100% - 40px);
        padding: 15px 0; 
        font-size: 14px; 
        margin: 15px auto; 
        display: block; 
    }

    .h4-heading, .price {
        text-align: center;
    }
    .plants-lover {
        flex-direction: column;
        padding: 40px 20px; 
        align-items: left;
    }
    .plants-lover img {
        max-width: 100%; 
        height: auto;
        margin-bottom: 20px;
    }
    #badge {
        display: none;
    }
    .plants-lover-content {
        text-align: center; 
        padding: 0 10px;
    }
    .heading-description-2 {
        width: 100%; 
        height: auto;
        margin: 10px 0; 
        font-size: 16px; 
        text-align: left; 
    }
    .deals {
        padding: 1px 10px 50px 10px;
    }
    .deals-1 {
        flex-direction: column;
        align-items: center;
        gap: 15px; 
        
    }
    .boom-plant,
    .ana-plant,
    .zabo-plant {
        width: 100%; 
        max-width: 350px; 
        height: 200px; 
        margin: 0 0 15px 0; 
        background-size: cover;
        background-position: center; 
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        opacity: 1; 
        padding: 0 40px;
        margin-left: -40px;
    }
    .deal-heading {
        font-size: 24px; 
    }
    .deal-heading-button {
        font-size: 16px; 
    }
    .deal-heading-2 {
        font-size: 30px; 
    }
    .deal-heading-button-2 {
        font-size: 20px; 
    }
    .newsletter {
        width: 100%; 
        height: auto;
        padding: 50px 20px; 
        background-size: cover;
        background-position: center;
        opacity: 1; 
    }
    .form {
        flex-direction: row;
        width: 100%;
        max-width: 350px;
        margin: 0px auto;
    }
    .form input[type="text"] {
        width: 100%;
        padding: 0px;
        margin-bottom: 15px;
        font-size: 16px;
        text-align: center;
    }
    .btn-secondary {
        width: 100%;
        padding: 15px;
        font-size: 16px;
      }
    .footer-bg {
        flex-direction: column; 
        padding: 40px 20px; 
        
    }
    .bottom {
        flex-direction: column;
        gap: 0px;
        align-items: left; 
    }
    .footer-bg img {
        margin-bottom: 15px;
    }
    .footer-nav-links {
        margin: 0;
        text-align: left;
        margin-left: -30px;
    }
    .footer-img {
        margin: 10px;
    }
} 
