@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*SHARED STYLE*/

.bg-color{
  background-color: #f5f8ff;
  padding: 20px 20px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
}
.nav-item{
  color: #252432;
  margin-right: 20px;
}
.nav-links{
  display: flex;
  list-style: none;
  font-size: 20px;
  
}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10rem 15rem 10rem 15rem;
  background-color: #f5f8ff;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
  color: rgba(0, 0, 0, 1);
  width: 570px;
  height: 108px;
}
.banner-description{
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5) ;
  width: 570px;
  height: 108px;
  margin: 0 auto;
}
.heading-description{
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5) ;
  width: 888px;
  height: 108px;
  margin: 0 auto;
  justify-content: center;
}
.banner-title-heading{
  color: rgba(233, 90, 8, 1);
}
.our-plants{
  justify-items: center;
  background-color: #f5f8ff;
  margin: 0 auto;
  padding: 1px;
}
.heading-title{
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
  
}
.product{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
.h4-heading{
  font-size: 22px;
  font-weight: 500;
  
}
.price{
  font-size: 22px;
  font-weight: 700;
  
}
.btn-primary{
  background-color: rgba(233, 90, 8, 1);
  color: white;
  padding: 18px 80px;
  font-size: 16px;
  font-weight: 300;
  border: none;
  margin-bottom: 30px;
}
.grid{
  align-items: center;
  justify-items: center;
}
.plants-lover{
  display: flex;
  justify-content: center;
  background-color: #f5f8ff;
  padding: 80px 15px;
  mar
}
.plants-lover-content{
  gap: 20;
}
.padding-left{
  padding-left: 80px;
}