@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.bg-color{
  background-color: #f5f8ff;
  padding: 20px 20px;
}
.navbar{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
}
.nav-item{
  color: #252432;
  margin-right: 20px;
}
.nav-links{
  display: flex;
  list-style: none;
  font-size: 20px;
  
}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  
  padding: 10rem 15rem 10rem 15rem;
  background-color: #f5f8ff;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
  color: rgba(0, 0, 0, 1);
  width: 570px;
  height: 108px;
}
.banner-description{
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5) ;
  width: 570px;
  height: 108px;
}
#banner-title-heading{
  color: rgba(233, 90, 8, 1);
}